.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 0;

    border-bottom: 1px solid #eee;
}

.info-label {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #444;
}

.info-icon {
    font-size: 18px;
}

.info-value {
    font-weight: 600;
    color: var(--primary);
}

.info-row:last-child {
    border-bottom: none;
}

.info-row:hover {
    background: #f8f9fa;
    transition: 0.3s;
    padding-left: 10px;
}