* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 50px;

  background: #081b33;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.nav-link:hover {
  color: #00bfff;
}

.active {
  color: #00bfff;
}